<!DOCTYPE html>
<html>
<head>
	<title>Musical Circles</title>
	<script type="text/javascript" src="js/paper-full.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.js"></script>
	<link rel="stylesheet" type="text/css" href="css/circles.css">

	<script type="text/paperscript" canvas="myCanvas">
		// making an object with key value pairs represinting keyboard letter
		var keyData = {
			q: {
				sound: new Howl({
		  		urls: ['sounds/bubbles.mp3']
				}),
				color: '#1abc9c'
			},
			w: {
				sound: new Howl({
		  		urls: ['sounds/clay.mp3']
				}),
				color: '#2ecc71'
			},
			e: {
				sound: new Howl({
		  		urls: ['sounds/confetti.mp3']
				}),
				color: '#3498db'
			},
			r: {
				sound: new Howl({
		  		urls: ['sounds/corona.mp3']
				}),
				color: '#9b59b6'
			},
				t: {
				sound: new Howl({
		  		urls: ['sounds/dotted-spiral.mp3']
				}),
				color: '#34495e'
			},
			y: {
				sound: new Howl({
		  		urls: ['sounds/flash-1.mp3']
				}),
				color: '#16a085'
			},
			u: {
				sound: new Howl({
		  		urls: ['sounds/flash-2.mp3']
				}),
				color: '#27ae60'
			},
			i: {
				sound: new Howl({
		  		urls: ['sounds/flash-3.mp3']
				}),
				color: '#2980b9'
			},
			o: {
				sound: new Howl({
					urls: ['sounds/glimmer.mp3']
				}),
				color: '#8e44ad'
			},
			p: {
				sound: new Howl({
		  		urls: ['sounds/moon.mp3']
				}),
				color: '#2c3e50'
			},
			a: {
				sound: new Howl({
		  		urls: ['sounds/pinwheel.mp3']
				}),
				color: '#f1c40f'
			},
			s: {
				sound: new Howl({
		  		urls: ['sounds/piston-1.mp3']
				}),
				color: '#e67e22'
			},
				d: {
				sound: new Howl({
		  		urls: ['sounds/piston-2.mp3']
				}),
				color: '#e74c3c'
			},
			f: {
				sound: new Howl({
		  		urls: ['sounds/prism-1.mp3']
				}),
				color: '#95a5a6'
			},
			g: {
				sound: new Howl({
		  		urls: ['sounds/prism-2.mp3']
				}),
				color: '#f39c12'
			},
			h: {
				sound: new Howl({
		  		urls: ['sounds/prism-3.mp3']
				}),
				color: '#d35400'
			},
			j: {
				sound: new Howl({
		  		urls: ['sounds/splits.mp3']
				}),
				color: '#1abc9c'
			},
			k: {
				sound: new Howl({
		  		urls: ['sounds/squiggle.mp3']
				}),
				color: '#2ecc71'
			},
			l: {
				sound: new Howl({
		  		urls: ['sounds/strike.mp3']
				}),
				color: '#3498db'
			},
			z: {
				sound: new Howl({
		  		urls: ['sounds/suspension.mp3']
				}),
				color: '#9b59b6'
			},
			x: {
				sound: new Howl({
		  		urls: ['sounds/timer.mp3']
				}),
				color: '#34495e'
			},
			c: {
				sound: new Howl({
		  		urls: ['sounds/ufo.mp3']
				}),
				color: '#16a085'
			},
			v: {
				sound: new Howl({
		  		urls: ['sounds/veil.mp3']
				}),
				color: '#27ae60'
			},
			b: {
				sound: new Howl({
		  		urls: ['sounds/wipe.mp3']
				}),
				color: '#2980b9'
			},
			n: {
				sound: new Howl({
					urls: ['sounds/zig-zag.mp3']
				}),
				color: '#8e44ad'
			},
			m: {
				sound: new Howl({
		  		urls: ['sounds/moon.mp3']
				}),
				color: '#2c3e50'
			}
		}
		//empty list to store circles in 
		var circles = [];
		
		//function called when mouse is clicked
		function onMouseDown(event) {
			//generate a random position to start the circle
			var random = randomChar();
			var maxPoint = new Point(view.size.width, view.size.height);
			var randomPoint = Point.random();
			var point = maxPoint * randomPoint;
			
			//creat the circle
			var newCircle = new Path.Circle(point, 500)
			newCircle.fillColor = keyData[random].color;
			keyData[random].sound.play();
			//adding the circle to the array circles
			circles.push(newCircle);
		}
		
		//function called on pressing any keyboard button
		function onKeyDown(event) {
			//if the user preses a normal letter
			if(keyData[event.key]){
				
				//creating a random point to spawn the circle at
				var maxPoint = new Point(view.size.width, view.size.height);
				var randomPoint = Point.random();
				var point = maxPoint * randomPoint;
				
				//creating the circle and deciding what color and sound it should play
				var newCircle = new Path.Circle(point, 500)
				newCircle.fillColor = keyData[event.key].color;
				keyData[event.key].sound.play();
				
				//adding the circle to the array circles
				circles.push(newCircle);
			}
		}
		
		//function called on everyframe
		function onFrame(event){
			//loop through the circles array each frame
      		for(var i = 0; i < circles.length; i++){
      			
  				// change the color and size of the circle
		        circles[i].scale(0.9);
		        circles[i].fillColor.hue += 1;
		        
		        // delete the circle from the array to free recourcesif its too small
        		if(circles[i].area < 1){
        			circles[i].remove();
          			circles.splice(i, 1);
        		}
      		}
    	}
    	
    	
    	
    	
    	// function to generate a random location
    	function randomChar() {
  			var text = "";
  			var possible = "abcdefghijklmnopqrstuvwxyz";
    		text += possible.charAt(Math.floor(Math.random() * possible.length));
  			return text;
		}
		
	</script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>